body {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: rgb(121, 121, 121);
	font-size: 62.5%;
}
.top{
	background: #000;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	color: rgb(0, 0, 0);
	width: 1000px;
}

#article {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	color: rgb(0, 0, 0);
	width: 1000px;
}
header,
main,
footer {
	background-color: rgb(255, 255, 255);
	font-size: 1.6em;
}

header {
	font-family: Courier New, Courier, monospace, monospace;
	padding: 1.875em 0;
}

header h1 {
	font-family: Courier New, Courier, monospace, monospace;
	text-align: center;
}

h1, h2, h3 {
	font-family: Courier New, Courier, monospace, monospace;
	text-align: center;
}

h1 {
	font-family: Courier New, Courier, monospace, monospace;
	font-size: 2.5em;
	text-align: center;
}

main h2 {
	font-family: Courier New, Courier, monospace, monospace;
	padding: 0.625em 0 0.625em 0.625em;
	text-align: center;
}

section {
	font-family: Courier New, Courier, monospace, monospace;
	margin: 1.875em 0;
	text-align: center;
}

section:first-child {
	font-family: Courier New, Courier, monospace, monospace;
	margin-top: 0;
	text-align: center;
}

section:last-child {
	font-family: Courier New, Courier, monospace, monospace;
	margin-bottom: 0;
	text-align: center;
}

nav ul {
	font-family: Courier New, Courier, monospace, monospace;
	text-align: center;
	padding: 0;
}

nav ul li {
	font-family: Courier New, Courier, monospace, monospace;
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
	text-align: center;
}

p {
	font-family: Courier New, Courier, monospace, monospace;
	padding: 1.25em;
	text-align: center;
}

figure {	
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-family: Courier New, Courier, monospace, monospace;
	font-style: bold;
	text-align: center;
}

footer {
	font-family: Courier New, Courier, monospace, monospace;
	text-align: center;
	padding: 3em;
}

footer p {
	font-family: Courier New, Courier, monospace, monospace;
	display: inline-block;
	text-align: center;
}

img {
	width: 50%;
	max-width: 50%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}